* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f8f6f1;
  color: #6e593f;
  min-height: calc(100vh - 95px - 90px);
  overflow-y: auto;
}

html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}