<p><%= @resource.email %> さん、こんにちは。</p>

<p>パスワードの再設定をリクエストされました。下のリンクをクリックして新しいパスワードを設定してください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし心当たりがない場合は、このメールを無視してください。</p>

<p>上記のリンクから新しいパスワードを設定するまで、現在のパスワードは変更されません。</p>